*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Poppins", sans-serif; 
}
a,a:hover{
    text-decoration: none;
    display:inline-block;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
.icons i{
    padding: 0 20px;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    padding: 0 27px !important;
}
.nav-link:hover{ 
    color: #B88E2F;
}
#bannerpart{
    padding-top: 155px;
    padding-bottom: 115px;
    background: url(../images/mask.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bannercard{
    background:#FFF3E3;
    padding: 65px 65px 40px 40px;
}
.bannercard h4{
    font-size: 16px;
    font-weight: 600;
    color: #333333;

}
.bannercard h1{
    color: #B88E2F;
    font-size: 52px;
    font-weight: 700;
    width: 399px;
    line-height: 65px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.bannercard p{
font-size: 14px;
font-weight: 500;
line-height: 24px;
color: #333333;

}
.bannercard a{
    margin-top: 50px;
    padding: 30px 65px;
    background: #B88E2F;
    color: white !important;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#browsetherange{
    padding: 65px 0;
}
.range h3{
    font-size: 32px;
    font-weight: 700;
    color: #333333;
}
.range p{
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    padding-top: 10px;
    padding-bottom: 65px;
}
.rangeitem h3{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    padding-top: 35px;
}
#productpart{
    padding: 50px 0;
}
.producttitle{
    text-align: center;
    align-items: center;
}
.producttitle h3{
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
}
.productimg{
    position: relative;
}
.badge{
    height: 50px;
    width: 50px;
    background:#e97171;
    position: absolute;
    top: 20px;
    right:20px ;
    border-radius: 50%;
}
.badge p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.productitem{
    position: relative;
}
.productovrly{
    position: absolute;
    width: 100%;
    height: 100%;
    background: lch(0% 0 0 / 0.288);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.productovrly a{
    padding: 15px 60px;
    background: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 210px;
   
}
.icon{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
}
.icon ul li{
    display: inline-block;
}
.productitemn:hover .productovrly{
    opacity: 1;
    visibility: visible;

}
.producttext{
    background: #f4f5f7;
    padding: 15px 15px 25px 15px;
}
.producttext h3{
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}
.producttext h4{
    font-size: 15px;
    font-weight: 500;
    color: #898989;
    padding : 15px 0;

}
.producttext p{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}
.producttext del{
    font-size: 16px;
    font-weight: 600;
    color: #898989;
}
.badgeo{
    height: 50px;
    width: 50px;
    background:#2EC1AC;
    position: absolute;
    top: 20px;
    right:20px ;
    border-radius: 50%;
}
.badgeo p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.showbtn a{
    padding: 15px 5px;
    background: transparent;
    border: 1px solid #B88E2F;
    font-size: 16px;
    font-weight: 600;
}
